---
import '../styles/index.css'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cottongeeks LLC</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="alternate" type="application/rss+xml" title="Cottongeeks Blog" href="/rss.xml" />
    <style>
      body {
        background-color: #282a36;
      }
    </style>
    <script>
      import { GameOfLife } from '../game.ts'
      new GameOfLife('grid')
    </script>
  </head>
  <body>
    <div id="grid" class="grid-container"></div>
    <div class="flex min-h-screen flex-col">
      <div class="relative z-10 flex w-full flex-grow flex-col items-center">
        <img src="/cottongeeks.svg" alt="Cottongeeks LLC" class="mb-8 w-xl" />
        <div class="font-poppins max-w-2xl px-8 text-2xl font-[200]">
          <p class="mb-6">
            Cottongeeks is a boutique consultancy led by
            <a href="https://www.linkedin.com/in/debugjois" class="text-[#ffeecb]">Deepak Jois</a>,
            a software engineer with over 15 years of industry experience. We partner with startup
            founders and early-stage tech businesses to transform their ideas into production-ready
            solutions built using modern technology stacks, for e.g. Go, Python, TypeScript, WASM,
            Docker, and AWS.
          </p>
          <p class="mb-6">
            From building proof-of-concepts and APIs to scaling prototypes for production
            deployment, we provide end-to-end software services with a focus on robustness,
            maintainability, and scalability.
          </p>
          <p class="mb-6">
            Our commitment to continuous learning is reflected in our training services and
            <a href="/articles" class="text-[#ffeecb]">published articles</a>, where we share
            technical insights and best practices from our project experiences. We also
            <a href="https://github.com/cottongeeks" class="text-[#ffeecb]"
              >contribute to open source</a
            >.
          </p>
          <p class="mb-6">Email us at <code class="text-[#ffeecb]">hi@cottongeeks.com</code></p>
        </div>
      </div>
      <div class="font-poppins relative z-10 w-full py-4 text-center text-sm font-[200]">
        © {new Date().getFullYear()} Cottongeeks LLC. All Rights Reserved.
      </div>
    </div>
  </body>
</html>
