<header class="nav-header">
  <div class="nav-content">
    <div class="nav-brand"><a href="/">cottongeeks &lt;/&gt;</a></div>
    <div class="nav-links">
      <a href="https://github.com/cottongeeks" target="_blank" rel="noopener noreferrer"
        ><i class="nf nf-cod-github"></i></a
      >
      <a href="https://bsky.app/profile/cottongeeks.com" target="_blank" rel="noopener noreferrer"
        ><i class="nf nf-fae-butterfly"></i></a
      >
    </div>
  </div>
</header>
