---
import BaseLayout from './BaseLayout.astro'

interface Props {
  title: string
  date: Date
}

const { title, date } = Astro.props
---

<BaseLayout title={title}>
  <link
    slot="head"
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
    integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
    crossorigin="anonymous"
  />
  <script slot="scripts" async src="https://platform.twitter.com/widgets.js"></script>
  <a href="/articles">←</a>
  <h1>
    {title}
    <time class="text-gray-500" datetime={date.toISOString()}>
      {
        date.toLocaleDateString('en-US', {
          year: 'numeric',
          month: 'long',
          day: 'numeric',
        })
      }
    </time>
  </h1>
  <slot />
</BaseLayout>
