---
import '../styles/articles.css'

interface Props {
  title: string
  date: Date
}

const { title, date } = Astro.props
---

<!doctype html>
<html lang="en" data-webtui-theme="catppuccin-mocha">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
      integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV"
      crossorigin="anonymous"
    />
  </head>
  <body class="transition-colors duration-200">
    <main class="mx-auto max-w-3xl px-4 py-8">
      <article>
        <header class="mb-8">
          <h1 class="font-bold">{title}</h1>
          <time class="text-gray-500" datetime={date.toISOString()}>
            {
              date.toLocaleDateString('en-US', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              })
            }
          </time>
        </header>
        <slot />
      </article>
    </main>
    <script async src="https://platform.twitter.com/widgets.js"></script>
    <script src="../scripts/anchor-links.ts"></script>
  </body>
</html>
