---
import '../styles/articles.css'
import Nav from '../components/Nav.astro'

interface Props {
  title: string
  backlinkToArticles?: boolean
}

const { title, backlinkToArticles } = Astro.props

const currentYear = new Date().getFullYear()
const copyrightYear = currentYear === 2025 ? '2025' : `2025-${currentYear}`
---

<!doctype html>
<html lang="en" data-webtui-theme="catppuccin-mocha">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css" />
    <title>{title}</title>
    <!-- for additional head content -->
    <slot name="head" />
  </head>
  <body>
    <main class="mx-auto max-w-3xl">
      <Nav backlinkToArticles={backlinkToArticles} />
      <slot />
    </main>
    <footer class="footer">
      © {copyrightYear} cottongeeks llc. all rights reserved.
    </footer>
    <script src="../scripts/anchor-links.ts"></script>
    <slot name="scripts" />
  </body>
</html>
